<form action="/details">
  <input name="id" type="text" placeholder="Search...">
  <input name="movie" type="text" placeholder="Apollo 13">
  <input type="submit">
</form>

<h1>Product Catalog</h1>

<%= image_tag "dice-1.png" %>

<div>
  <%= link_to "Click Here For Details", "/details?id=1" %>
  <!-- <a href="/details?id=1">Click Here For Details</a> -->
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00IOIJD5I">TDK A12 TREK Wireless Outdoor Speaker</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/816rAOJX-GL._SL1500_.jpg"></p>
</div>

<div>
  <a href="/details?id=2">Click Here For Details</a>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00BGO0QE">Fitbit Flex Wireless Activity + Sleep Wristband, Slate</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/51qrk3-c-lL._SL1500_.jpg"></p>
</div>

<div>
  <a href="/details?id=3">Click Here For Details</a>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00NIYNUF2">GoPro HERO4 BLACK 4K Action Camera</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/71X7ZijN3yL._SL1500_.jpg"></p>
</div>

<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B0002D02IU">Epiphone DR-100 Acoustic Guitar, Natural</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/71RMP9v4NQL._SL1500_.jpg"></p>
</div>

<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00DR0PDNE">Google Chromecast HDMI Streaming Media Player</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/811nvG%2BLgML._SL1500_.jpg"></p>
</div>
