<% product = params["id"].to_i %>

<% if product == 1 %>
<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00IOIJD5I">TDK A12 TREK Wireless Outdoor Speaker</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/816rAOJX-GL._SL1500_.jpg"></p>
</div>
<% end %>

<% if product == 2 %>
<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00BGO0QE">Fitbit Flex Wireless Activity + Sleep Wristband, Slate</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/51qrk3-c-lL._SL1500_.jpg"></p>
</div>
<% end %>

<% if product == 3 %>

<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00NIYNUF2">GoPro HERO4 BLACK 4K Action Camera</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/71X7ZijN3yL._SL1500_.jpg"></p>
</div>

<% end %>

<% if product == 4 %>

<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B0002D02IU">Epiphone DR-100 Acoustic Guitar, Natural</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/71RMP9v4NQL._SL1500_.jpg"></p>
</div>

<% end %>

<% if product == 5 %>

<div>
  <p>
    <strong>
      <a href="http://www.amazon.com/dp/B00DR0PDNE">Google Chromecast HDMI Streaming Media Player</a>
    </strong>
  </p>
  <p><img width="300px" src="http://ecx.images-amazon.com/images/I/811nvG%2BLgML._SL1500_.jpg"></p>
</div>

<% end %>
