<h1>Weather lookup form - input your city below!</h1>

<form method = "GET" action="/current_conditions">
City: <input type="text" name="city" required /> 
<br />
<input type="submit" value="Submit" />
</form>
