<form method = "GET" action="/contact_submitted">
First name: <input type="text" name="firstname" required />
<br />
Last name: <input type="text" name="lastname" required />
<br />
<input type="submit" value="Submit" />
</form>
